<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Game Finished</title>
</head>
<body>
    <div align="center">
        <h1 id="game-title">Guess the number game</h1>
        <h2 id="game-over">Game Over</h2>
        <h3 id="result_message">Result Message</h3>
        <h3>
            <a id="restart">Play Again</a>
        </h3>
        <h3>
            <a id="home" href="/">Home</a>
        </h3>

        <footer id="footerId">
        </footer>

    </div>
</body>
</html>